<%- include("partials/header.ejs")  %>

<div id="main-container">
    <h2>Title: <%= title%></h2>
    <h2>Author: <%= author%></h2>
    <img src="<%= coverArt%>" alt="" height="400px" style="align-self: start;">
    <p><%= summary%></p>
</div>



<%- include("partials/footer.ejs")  %>