<%- include("partials/header.ejs")  %>

<div id="main-container">
    
    <div id="page-content-container">
      


      <% if(locals.randCard && locals.latestSet){ %>



        <% setSource = latestSet.logo + ".png"; %>
        <div class="main-page-display">
        <div class="main-page-display-inner">
          <img src=<%= setSource %> alt="">
        </div>
        <div>
          <form action="" method="">
            <input type="submit" value="Explore Sets">
          </form>
        </div>
        </div>

        <% imgSource = randCard.image + "/high.png";%> 
        <div class="main-page-display">
        <div class="main-page-display-inner">
          <img src=<%= imgSource %> alt="random card image" class=main-page-card>
        </div>
        <div>
          <form action="/card-search" method="GET">
            <input type="submit" value="Explore Cards">
          </form>
        </div>
      </div>
      <% } %>
    </div>
</div>


<script>

var imageCardPoolString = <%-JSON.stringify(imageCardPool)%>;

function getNewCard(){ /* obj name, parameter entries */
var rng = Math.floor(Math.random()*imageCardPoolString.length);
document.getElementsByClassName("main-page-card")[0].src = imageCardPoolString[rng].image + "/high.png";
}

setInterval(getNewCard, 5000);


  

</script>

<%- include("partials/footer.ejs")  %>